extends ../layout/index
block contenido 
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg  ", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Aenean malesuada viverra mauris, scelerisque tincidunt neque molestie quis. Pellentesque auctor nibh quis viverra eleifend. Morbi non mollis quam, at faucibus tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas a nunc ut magna tempus aliquam a et leo.
                p Phasellus tincidunt erat est. Quisque eleifend cursus volutpat. Donec a nisl facilisis, porttitor velit vitae, efficitur urna. Nunc aliquet leo eget nisl facilisis ullamcorper. Quisque faucibus iaculis ultrices. Nam quis blandit massa, nec tempor neque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                p Duis feugiat purus nec lectus cursus lobortis. Donec efficitur est sit amet rhoncus cursus. Ut ut erat vitae diam imperdiet viverra sit amet vel ante. Quisque interdum facilisis dolor, id luctus nisi porttitor vitae.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p  Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas lobortis aliquam dui a gravida.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p  Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas lobortis aliquam dui a gravida.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p  Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas lobortis aliquam dui a gravida.